In [1]:
import pandas as pd
import matplotlib as plt
from pathlib import Path

In [2]:
Ocean_Temps = Path("Ocean_Temps.csv")
ocean_df = pd.read_csv(Ocean_Temps)
ocean_df.head(100)

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1/1/1945,1,75.1,57.2,17.9,137,7.19
1,1/2/1945,1,80.3,56.2,13.0,157,6.96
2,1/3/1945,51,70.7,61.0,11.4,190,3.79
3,1/4/1945,2,70.7,61.1,15.2,156,5.46
4,1/5/1945,0,84.7,58.6,10.3,146,7.44
...,...,...,...,...,...,...,...
95,4/6/1945,1,79.3,63.6,14.6,123,4.42
96,4/7/1945,2,72.4,64.3,14.1,144,2.82
97,4/8/1945,3,71.7,62.7,8.5,168,2.33
98,4/9/1945,3,73.8,63.9,9.8,163,2.68
99,4/10/1945,2,73.3,62.6,12.4,157,3.30

In [3]:
# Convert the 'date' column to datetime format
ocean_df['date'] = pd.to_datetime(ocean_df['time'], infer_datetime_format=True)
columns_data = ['temperature_2m_max (°F)', 'temperature_2m_min (°F)', 'wind_speed_10m_max (mp/h)', 'wind_direction_10m_dominant (°)', 'et0_fao_evapotranspiration (mm)']

# Filter the dataframe to include only September dates
df_september = ocean_df[ocean_df['date'].dt.month == 9]

# Group the filtered dataframe by the year
df_grouped = df_september.groupby(df_september['date'].dt.year)

# Calculate the average 'maxtemp' and 'mintemp' for each group
df_average = df_grouped[columns_data].mean()

# Rename the columns
df_average.columns = ['Avg Ocean Max Temp', 'Avg Ocean Min Temp ', 'Ocean Wind Speed', 'Ocean Wind Direction', 'Ocean Evapotrasnpiration']

# Reset the index to make 'year' a column
df_average = df_average.reset_index()

# Print the resulting dataframe
ocean_final_df = pd.DataFrame(df_average)
ocean_final_df

C:\Users\cppar\AppData\Local\Temp\ipykernel_10272\2589691798.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ocean_df['date'] = pd.to_datetime(ocean_df['time'], infer_datetime_format=True)

,date,Avg Ocean Max Temp,Avg Ocean Min Temp,Ocean Wind Speed,Ocean Wind Direction,Ocean Evapotrasnpiration
0,1945,65.646667,53.420000,11.696667,194.900000,2.839000
1,1946,61.250000,50.146667,11.866667,225.200000,2.511333
2,1947,62.130000,50.490000,11.840000,185.333333,2.670000
3,1948,60.400000,48.750000,12.526667,233.300000,2.655000
4,1949,63.376667,51.976667,12.990000,220.700000,2.766333
...,...,...,...,...,...,...
74,2019,65.336667,57.003333,19.866667,195.933333,3.050000
75,2020,60.860000,53.223333,19.173333,218.033333,2.734000
76,2021,61.570000,54.183333,21.096667,197.900000,2.994333
77,2022,61.663333,53.810000,18.273333,218.466667,2.859667
78,2023,60.943333,53.330000,21.413333,254.433333,2.967000

In [4]:
#Export Ocean Average as csv

In [5]:
#Run Desert averages analysis
Desert_Temps = Path("Desert_Temps.csv")
desert_df = pd.read_csv(Desert_Temps)
desert_df.head(100)

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1945-01-01,1,56.2,31.8,11.6,340,3.76
1,1945-01-02,0,54.5,31.1,15.5,334,4.15
2,1945-01-03,0,53.6,27.9,12.9,354,3.77
3,1945-01-04,0,52.3,23.7,10.8,71,3.34
4,1945-01-05,0,51.5,24.5,14.1,106,3.76
...,...,...,...,...,...,...,...
95,1945-04-06,0,77.6,48.5,9.2,98,6.74
96,1945-04-07,1,78.2,50.9,9.4,106,6.66
97,1945-04-08,0,79.9,50.1,8.2,250,6.50
98,1945-04-09,0,81.6,52.5,10.7,307,7.03
99,1945-04-10,0,82.8,54.6,9.6,121,7.80

In [6]:
# Convert the 'date' column to datetime format
desert_df['date'] = pd.to_datetime(desert_df['time'], infer_datetime_format=True)
columns_data = ['temperature_2m_max (°F)', 'temperature_2m_min (°F)', 'wind_speed_10m_max (mp/h)', 'wind_direction_10m_dominant (°)', 'et0_fao_evapotranspiration (mm)']

# Filter the dataframe to include only September dates
df_september = desert_df[desert_df['date'].dt.month == 9]

# Group the filtered dataframe by the year
df_grouped = df_september.groupby(df_september['date'].dt.year)

# Calculate the average 'maxtemp' and 'mintemp' for each group
df_average = df_grouped[columns_data].mean()

# Rename the columns
df_average.columns = ['Avg Desert Max Temp', 'Avg Desert Min Temp', 'Desert Wind Speed', 'Desert Wind Direction', 'Desert Evapotrasnpiration']

# Reset the index to make 'year' a column
df_average = df_average.reset_index()

# Print the resulting dataframe
desert_final_df = pd.DataFrame(df_average)
desert_final_df

C:\Users\cppar\AppData\Local\Temp\ipykernel_10272\671295355.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  desert_df['date'] = pd.to_datetime(desert_df['time'], infer_datetime_format=True)

,date,Avg Desert Max Temp,Avg Desert Min Temp,Desert Wind Speed,Desert Wind Direction,Desert Evapotrasnpiration
0,1945,89.376667,65.470000,14.916667,135.400000,8.351000
1,1946,87.130000,64.520000,15.170000,124.500000,7.961333
2,1947,88.626667,67.623333,16.666667,132.966667,7.877333
3,1948,89.186667,68.453333,13.246667,121.800000,7.400333
4,1949,87.946667,64.596667,15.620000,143.000000,8.413667
...,...,...,...,...,...,...
74,2019,90.710000,70.553333,16.430000,91.800000,8.239333
75,2020,90.963333,70.366667,16.233333,98.000000,8.495000
76,2021,90.276667,69.916667,16.486667,89.333333,8.695000
77,2022,91.476667,70.496667,15.076667,112.300000,8.045333
78,2023,92.766667,70.660000,16.133333,108.133333,8.200333

In [7]:
ocean_final_df = ocean_final_df.rename(columns={'date': 'Year'})
desert_final_df = desert_final_df.rename(columns={'date': 'Year'})

ocean_final_df.to_csv('OceanAverages.csv', index=False)
desert_final_df.to_csv('DesertAverages.csv', index=False)

In [9]:
hurr_path = Path("Hurricanes_Original.csv")
hurricane_df = pd.read_csv(hurr_path)

# Merge the DataFrames on the "Year" column
merged_df = pd.merge(hurricane_df, ocean_final_df, on='Year', how='inner')
merged_df = pd.merge(merged_df, desert_final_df, on='Year', how='inner')

In [11]:
years_data = merged_df[(merged_df['Year'] >= 1945) & (merged_df['Year'] <= 2017)]
years_data = years_data.drop('Unnamed: 0', axis=1)
years_data

,Year,Named Storms,Hurricanes,MajorHurricanes,Avg Ocean Max Temp,Avg Ocean Min Temp,Ocean Wind Speed,Ocean Wind Direction,Ocean Evapotrasnpiration,Avg Desert Max Temp,Avg Desert Min Temp,Desert Wind Speed,Desert Wind Direction,Desert Evapotrasnpiration
0,1945,11,5,2,65.646667,53.420000,11.696667,194.900000,2.839000,89.376667,65.470000,14.916667,135.400000,8.351000
1,1946,6,3,1,61.250000,50.146667,11.866667,225.200000,2.511333,87.130000,64.520000,15.170000,124.500000,7.961333
2,1947,9,5,2,62.130000,50.490000,11.840000,185.333333,2.670000,88.626667,67.623333,16.666667,132.966667,7.877333
3,1948,9,6,4,60.400000,48.750000,12.526667,233.300000,2.655000,89.186667,68.453333,13.246667,121.800000,7.400333
4,1949,13,7,3,63.376667,51.976667,12.990000,220.700000,2.766333,87.946667,64.596667,15.620000,143.000000,8.413667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2013,14,2,0,58.763333,54.073333,12.596667,255.566667,2.723000,91.760000,68.343333,13.713333,170.600000,7.743000
69,2014,8,6,2,61.203333,55.613333,11.620000,216.966667,2.730333,92.663333,69.330000,15.270000,96.366667,8.317667
70,2015,11,4,2,61.023333,55.083333,12.553333,207.900000,2.584667,92.596667,70.083333,13.420000,147.900000,7.361000
71,2016,15,7,4,60.666667,55.720000,10.856667,193.333333,2.775000,92.130000,69.736667,14.666667,108.900000,8.014333
72,2017,17,10,6,62.973333,55.256667,21.440000,199.666667,3.090333,91.890000,69.940000,14.403333,138.333333,8.066000

In [12]:
years_data.to_csv('merged.csv', index=False)