In [45]:
import pandas as pd
import matplotlib as plt
from pathlib import Path

In [46]:
Ocean_Temps = Path("Ocean_Temps.csv")
ocean_df = pd.read_csv(Ocean_Temps)
ocean_df.head(100)

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1/1/1945,1,75.1,57.2,17.9,137,7.19
1,1/2/1945,1,80.3,56.2,13.0,157,6.96
2,1/3/1945,51,70.7,61.0,11.4,190,3.79
3,1/4/1945,2,70.7,61.1,15.2,156,5.46
4,1/5/1945,0,84.7,58.6,10.3,146,7.44
...,...,...,...,...,...,...,...
95,4/6/1945,1,79.3,63.6,14.6,123,4.42
96,4/7/1945,2,72.4,64.3,14.1,144,2.82
97,4/8/1945,3,71.7,62.7,8.5,168,2.33
98,4/9/1945,3,73.8,63.9,9.8,163,2.68
99,4/10/1945,2,73.3,62.6,12.4,157,3.30

In [47]:
# Convert 'time' column to datetime
ocean_df['time'] = pd.to_datetime(ocean_df['time'])

# Create a boolean mask to filter rows where the month is not September
mask = ocean_df['time'].dt.month != 9

# Filter the DataFrame using the boolean mask
sept_df = ocean_df[~mask]
sept_df

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
243,1945-09-01,51,59.5,49.3,11.7,333,2.00
244,1945-09-02,3,60.1,47.4,9.3,336,1.94
245,1945-09-03,3,60.3,48.8,10.1,328,2.30
246,1945-09-04,55,59.3,52.0,12.3,170,2.34
247,1945-09-05,2,61.4,51.4,12.4,148,2.91
...,...,...,...,...,...,...,...
28757,2023-09-26,51,63.3,56.4,13.7,143,3.48
28758,2023-09-27,0,64.7,56.3,24.3,125,3.61
28759,2023-09-28,1,72.1,55.4,9.4,109,4.11
28760,2023-09-29,51,68.3,57.5,17.6,307,3.02
28761,2023-09-30,61,60.9,55.4,17.4,244,3.03

In [50]:
#average_temperatures = sept_df.groupby('time')["temperature_2m_max (°F)"].mean().reset_index()
#average_temperatures.columns = ['time', 'Average_Temperature']
# Display the resulting DataFrame
#average_temperatures.head()

 # Convert 'time' column to datetime
ocean_df['time'] = pd.to_datetime(ocean_df['time']) 

# Separate the year into a new column
ocean_df['year'] = ocean_df['time'].dt.year
ocean_df

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm),year
0,1945-01-01,1,75.1,57.2,17.9,137,7.19,1945
1,1945-01-02,1,80.3,56.2,13.0,157,6.96,1945
2,1945-01-03,51,70.7,61.0,11.4,190,3.79,1945
3,1945-01-04,2,70.7,61.1,15.2,156,5.46,1945
4,1945-01-05,0,84.7,58.6,10.3,146,7.44,1945
...,...,...,...,...,...,...,...,...
28869,2024-01-16,55,73.7,64.8,24.0,150,5.47,2024
28870,2024-01-17,1,73.5,64.7,29.5,133,5.66,2024
28871,2024-01-18,0,76.8,64.8,31.3,124,6.26,2024
28872,2024-01-19,0,86.6,65.2,23.5,120,7.15,2024
28873,2024-01-20,2,77.9,65.1,13.2,271,5.01,2024

In [40]:
average_temp_max = ocean_df.groupby(['year'])["temperature_2m_max (°F)"].mean()
average_temp_min = ocean_df.groupby(['year'])["temperature_2m_min (°F)"].mean()


final_df = pd.DataFrame = ({
    "Avg_Sept_Max": average_temp_max, 
    'Avg_Sept_Min': average_temp_min})

# Display the resulting DataFrame
final_df

AttributeError: 'dict' object has no attribute '_get_axis_number'