In [1]:
import pandas as pd
import matplotlib as plt
from pathlib import Path

In [2]:
Ocean_Temps = Path("Ocean_Temps.csv")
ocean_df = pd.read_csv(Ocean_Temps)
ocean_df.head(100)

,time,weather_code (wmo code),temperature_2m_max (°F),temperature_2m_min (°F),wind_speed_10m_max (mp/h),wind_direction_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,1/1/1945,1,75.1,57.2,17.9,137,7.19
1,1/2/1945,1,80.3,56.2,13.0,157,6.96
2,1/3/1945,51,70.7,61.0,11.4,190,3.79
3,1/4/1945,2,70.7,61.1,15.2,156,5.46
4,1/5/1945,0,84.7,58.6,10.3,146,7.44
...,...,...,...,...,...,...,...
95,4/6/1945,1,79.3,63.6,14.6,123,4.42
96,4/7/1945,2,72.4,64.3,14.1,144,2.82
97,4/8/1945,3,71.7,62.7,8.5,168,2.33
98,4/9/1945,3,73.8,63.9,9.8,163,2.68
99,4/10/1945,2,73.3,62.6,12.4,157,3.30

In [12]:
# Convert the 'date' column to datetime format
ocean_df['date'] = pd.to_datetime(ocean_df['time'], infer_datetime_format=True)
columns_data = ['temperature_2m_max (°F)', 'temperature_2m_min (°F)', 'wind_speed_10m_max (mp/h)', 'wind_direction_10m_dominant (°)', 'et0_fao_evapotranspiration (mm)']

# Filter the dataframe to include only September dates
df_september = ocean_df[ocean_df['date'].dt.month == 9]

# Group the filtered dataframe by the year
df_grouped = df_september.groupby(df_september['date'].dt.year)

# Calculate the average 'maxtemp' and 'mintemp' for each group
df_average = df_grouped[columns_data].mean()

# Rename the columns
df_average.columns = ['Average Max Temp', 'Average Min Temp ', 'Wind Speed O', 'Wind Direction', 'Evapotrasnpiration']

# Reset the index to make 'year' a column
df_average = df_average.reset_index()

# Print the resulting dataframe
final_df = pd.DataFrame(df_average)
final_df

C:\Users\cppar\AppData\Local\Temp\ipykernel_520\3632256714.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ocean_df['date'] = pd.to_datetime(ocean_df['time'], infer_datetime_format=True)

,date,Average Max Temp,Average Min Temp,Wind Speed,Wind Direction,Evapotrasnpiration
0,1945,65.646667,53.420000,11.696667,194.900000,2.839000
1,1946,61.250000,50.146667,11.866667,225.200000,2.511333
2,1947,62.130000,50.490000,11.840000,185.333333,2.670000
3,1948,60.400000,48.750000,12.526667,233.300000,2.655000
4,1949,63.376667,51.976667,12.990000,220.700000,2.766333
...,...,...,...,...,...,...
74,2019,65.336667,57.003333,19.866667,195.933333,3.050000
75,2020,60.860000,53.223333,19.173333,218.033333,2.734000
76,2021,61.570000,54.183333,21.096667,197.900000,2.994333
77,2022,61.663333,53.810000,18.273333,218.466667,2.859667
78,2023,60.943333,53.330000,21.413333,254.433333,2.967000